html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face{
	font-family: Ubuntu;
	src: url(./font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face{
	font-family: Roboto;
	src: url(./font/Roboto/Roboto-Regular.ttf);
}

@font-face{
	font-family: Open-Sans;
	src: url(./font/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
	font-family: Noto-Sans;
	src: url(./font/Noto_Sans/NotoSans-Regular.ttf);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1px;
}

ol, ul {
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0px;
	font-family: Ubuntu, sans-serif; 
}

body {
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	height: 80px;
	width: 100%;
	font-size: 40px;
	text-align: left;
	background-color: #1976D2;
	z-index: 10;
	position: static;
}

#headerlogo{
	margin-left: 250px;
	margin-bottom: 20px;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

nav {
	font-family: Roboto;
	font-size: 16px;
	float: right;
	padding-right: 50px;
}

nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 50px;
	padding-top: 40px;
	position: relative;
}

nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: #000;
}

nav a::before{
	content: '';
	display: block;
	height: 2px;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

#slider{
	background:#222;
	width:100%;
}

.free-simple-slider{
    //max-width: 1366px;
    margin: 0 auto;
}



footer {
	width: 100%;
	height: 125px;
	background-color: #3F51B5;
	position: absolute;
}

footer h1 {
	color: #fff;
	margin: 20px;
	font-family: Noto-Sans;
	padding-left: 220px;
}

#foot{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}

div .visitus{
	float: left;
	margin-top: 10px;
}

.youtube {
	padding-left: 220px;
	width: 58.81px; 
	height: 59.99px;
}

.instagram {
	margin-left: 20px;
}

.twitter {
	margin-left: 20px
}

.rectangle1 {
	width: 1px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: 500px;
	top: 60px;
}

.rectangle2 {
	width: 1px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: 800px;
	top: 60px;
}

footer h2 {
	color: #fff;
	padding-top: 35px;
	padding-right: 450px;
	font-family: Noto-Sans, sans-serif;
}

footer h3 {
	color: #fff;
	font-family: Noto-Sans, sans-serif;
	padding-left: 550px;
	margin-top: -60px;
}

.alamat {
	color: #fff;
	font-size: 14px;
	font-family: Open-Sans, sans-serif;
	line-height: 15px;
	padding-right: 420px;
	padding-top: 30px;
}

.line {
	color: #fff;
	font-size: 14px;
	font-family: Open-Sans, sans-serif;
	padding-left: 550px;
	margin-top: 35px;
}

.emailPermib {
	color: #fff;
	font-size: 14px;
	font-family: Open-Sans, sans-serif;
	padding-left: 550px;
	padding-top: 20px;
}

#creator {
	color: #fff;
	font-size: 14px;
	font-family: Open-Sans, sans-serif;
	margin-top: 10px;
	margin-right: 600px;
}

#content .Visi {
	padding: 10px;
	margin-top: 100px;
}

.visit {
	width: 
}

#content .Visi h1 {
	padding: 25px;
	margin-top: 80px;
	margin-left: -1150px;
	font-size: 33px;
	color: #1976D2;
}

#content .IsiVisi p {
	padding: 20px;
	margin: 10;
	line-height: 18px;
	text-align: left;
	background-color: white;
}

#content .Misi h1{
	padding: 25px;
	margin-left: -1150px;
	font-size: 33px;
	color: #1976D2;
}

#content .IsiMisi p{
	padding: 20px;
	margin: 10;
	line-height: 40px;
	text-align: left;
	background-color: white;
}

#content .Headline img{
	padding: 25px;
	margin-top: 80px;
}

#content .IsiBlog p{
	padding: 20px;
	margin: 10;
	line-height: 20px;
	text-align: left;
}

#content .IsiAcara p{
	padding: 20px;
	margin: 10;
	line-height: 20px;
	text-align: left;	
}

.batasSlider{
	padding: 5px;
	background: #1976D2; 
}

#timeline{
	padding: 100px;
}
 	
.judultl{
	padding: 30px;
	font-family: Arial;
	font-size: 48px;
	font-weight: bold;
}

.kotakevent {
	height: 80px;
	width: 160px;
	background: #4FC3F7;
	margin-bottom: 20px;
	position: absolute;
	left: 63px;
	top: 950px;
}

#timeline .kotakevent p {
	line-height: 30px;
	text-align: center;
	font-family: Noto-Sans;
	font-size: 27px;
	color: white;
	padding-top: 8px;		
}

.garistanggal {
	height: 6px;
	width: 280px;
	background: #4FC3F7;
	position: absolute;
	left: 280px;
	top: 985px;
}

.garistanggal2 {
	height: 6px;
	width: 210px;
	background: #4FC3F7;
	position: absolute;
	left: 630px;
	top: 985px;
}

.garistanggal3 {
	height: 6px;
	width: 210px;
	background: #4FC3F7;
	position: absolute;
	left: 910px;
	top: 985px;
}

.bulettanggal {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: #4FC3F7;
	position: absolute;
	left: 570px;
	top: 962px;
}

.bulettanggal2 {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: #4FC3F7;
	position: absolute;
	left: 850px;
	top: 963px;
}

.bulettanggal3 {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: #4FC3F7;
	position: absolute;
	left: 1130px;
	top: 963px;
}

.bulettanggal p,.bulettanggal2 p,.bulettanggal3 p {
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	padding-top: 5px;
}

.penjelevent {
	height: 85px;
	width: 182px;
	background: #4FC3F7;
	position: relative;
	left: 400px;
	top: -45px;
}

.penjelevent2 {
	height: 85px;
	width: 182px;
	background: #4FC3F7;
	position: relative;
	left: 685px;
	top: 65px;
}

.penjelevent3 {
	height: 85px;
	width: 182px;
	background: #4FC3F7;
	position: relative;
	left: 960px;
	top: -215px;
}

h1.tgl {
	font-family: Ubuntu;
	color: #fff;
	font-size: 16px;
	padding-top: 15px;
}

p.penjelas {
	font-family: Ubuntu;
	font-size: 16px;
	color: #fff;
	line-height: 15px;
	padding-top: 25px;
}

.tlreadmore {
	height: 35px;
	width: 180px;
	background: #4FC3F7;
	position: absolute;
	left: 1100px;
	top: 1190px;
}

h1.tlread {
	font-family: Ubuntu;
	font-size: 18px;
	color: #fff;
	padding-top: 15px;
	padding-right: 20px;
}





